
@if (usb$ | async; as usb) {
<h2>Devices</h2>
<section>
    @for (u of usb; track u.visual ) {
        <synapse-copycat-device-card [device]="u"></synapse-copycat-device-card>
    }
</section>
}


<section>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
</section>

<section>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
</section>