
@use "sass:map";

* {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}


// $primary: rgb(60, 121, 109);
// $secondary: rgb(22, 206, 169);
// $danger: rgb(116, 0, 194);
// $warning: rgb(153, 0, 94);

/*$accent-color: rgb(211, 214, 45);
$warn-color: rgb(120, 43, 3);
$default-theme: create-vdm-light-theme($primary-color, $accent-color, $warn-color);
*/

// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    rgb(0, 226, 49),
//   "info":       rgb(45, 152, 214),
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      rgb(248, 248, 238),
//   "dark":       rgb(61, 61, 61),
// );

$theme-colors: (
    "primary": rgb(68, 214, 44),
    "background": #222222,
);

@import '../src/app/shared/navbar/navbar.theme';

@include navbar-theme($theme-colors);

