@use 'sass:color';

:host {
  display: grid;
  gap: 0.5em;

  padding: 1.5em;

  grid-template-columns: auto auto 1fr auto;

  border-radius: 0.4em;

  background-color: #111111;

  align-items: center;

  .control-title {
    text-transform: uppercase;
    padding: 0.5em;
    color: #44d62c;
  }

  synapse-toggle {
    padding: 0.5em;
  }

  synapse-slider {
    grid-column: span 4;
  }
}

:host:hover {
  border: 0.2em solid color.adjust(#44d62c, $lightness: -10%, $alpha: -0.3);
}
