.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #111111;
  color: white;

border-radius: 0.5rem;

  transition: 0.3s;
  width: 20rem;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  img {
    margin-top: 2em;
    height: 8em;
  }

  .container {
    padding: 2em ;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);


    transform: translateY(-0.5em);
  

  & h4 {
    color: limegreen;
  }
}
