:host {
  margin: 0;
  padding: 0;
}

.sticky {
  top: 0;
  width: 100%;
}

.navbar {
  height: 2em;
  display: flex;
  align-items: center;

  gap: 2em;

  .spacer {
    flex-grow: 1;
  }

  img {
    margin-left: 1rem;
    padding: 0.25em;
    max-height: 1.5em;
  }

  button {
    background: none;
    border: none;
    height: 100%;
    text-transform: uppercase;
    font-weight: 900;
  }
}
