@use '../../../libs/synapse-ui/src/styles.scss' as synapse;




/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
  min-height: 100vh;
}


$default-theme: synapse.make-dark-theme();
$orange-theme: synapse.make-light-theme(#e08013);

@include synapse.theme-them-all($default-theme);

.razer-orange {
  @include synapse.theme-them-all($orange-theme);
}

@media (prefers-color-scheme: light) {
  @include synapse.theme-them-all($orange-theme);
}

@import './app/shared/navbar/navbar.theme';
@import './app/shared/page-bar/page-bar.theme';
@import './app/shared/device-card/device-card.theme';

@include navbar-theme($default-theme);
@include page-bar-theme($default-theme);
@include device-card-theme($default-theme);