@use '../../../libs/synapse-ui/src/theme-api.scss' as synapse;

/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
  min-height: 100vh;
}

$dark-theme: synapse.make-dark-theme(#44d62c);
$orange-theme: synapse.make-light-theme(#e08013);

@debug $dark-theme;
@debug $orange-theme;



// @media (prefers-color-scheme: light) {
//   @include synapse.theme-them-all($orange-theme);
// }

@import './app/shared/navbar/navbar.theme';
@import './app/shared/page-bar/page-bar.theme';
@import './app/shared/device-card/device-card.theme';

@include synapse.theme-them-all($dark-theme);

@include navbar-theme($dark-theme);
@include page-bar-theme($dark-theme);
@include device-card-theme($dark-theme);

.razer-orange {
  @include synapse.theme-them-all($orange-theme);
@include navbar-theme($orange-theme);
@include page-bar-theme($orange-theme);
@include device-card-theme($orange-theme);
}
