@if (devices().length) {
  <h2>Devices</h2>
  <section>
    @for (device of devices(); track device.id) {
      <button
        syn-card
        type="button"
        [image]="device.visual"
        (click)="open(device)"
      >
        {{ device.name }}
      </button>
    } @empty {
      No device detected
    }
  </section>
} @else {
  <h2>No Razer devices found</h2>
}

@if (modules().length) {
  <h2>Modules</h2>
  <section>
    @for (module of modules(); track module.kind) {
      <button
        syn-card
        type="button"
        [image]="module.visual"
        (click)="openModule(module)"
      >
        {{ module.name }}
      </button>
    } @empty {
      No module detected
    }
  </section>
}
