<p>welcome-page works!</p>

Here are usb: {{ (usb$ | async | json ) }} 
<hr>
Here are connected:  {{ connected$ | async | json }} 

<section>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
</section>

<section>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
</section>

<section>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
    <div class="box">dfsgsdfg</div>
</section>