@use 'sass:map';
@use 'sass:color';

@mixin apply($theme) {
    $primary: map.get($theme, 'primary');
  $background-color: map.get($theme, background);
  $color: color.invert($background-color);

  page-bar {
    background-color: $primary;

    & button {
      color: $color;

      &:hover {
        color: $background-color;
      }
    }
  }
}
